{% extends 'bases/index.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Código</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>    
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-2">
          <input type="text" id="id" class="form-control" placeholder="Id" readonly>
        </div>
        <div class="col-4">
          <input type="text" id="codigo" class="form-control" placeholder="Código">
        </div>
        <div class="col-6">
          <input type="text" id="descripcion" class="form-control" placeholder="Descripción">
        </div>
      </div>
      <hr class="mt-3 mb-3"/>
      <div class="row">
        <div class="col">
          <button type="button" id="add-row" class="btn btn-warning">Agregar</button>
          <button type="button" class="btn btn-info" id="btnCancel">Cancelar</button>
          <button type="button" class="btn btn-danger" id="btnSave">Guardar</button>
          <button type="button" class="btn btn-default" id="btnReload">Cargar</button>
          <button type="button" class="btn btn-success" id="btnEdit">Editar</button>
          <button type="button" class="btn btn-primary" id="btnSaveAll">Guardar Todo</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" id="btnNewModal">Nuevo</button>
        </div>
    </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_edit_new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
   data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_titulo">Agregar/Editar Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="idModal">Id</label>
              <input type="text" id="idModal" class="form-control" placeholder="Id" readonly>
            </div>
            <div class="form-group">
              <label for="codigoModal">Código</label>
              <input type="text" id="codigoModal" class="form-control" placeholder="Código">
            </div>
            <div class="form-group">
              <label for="descripcionModal">Descripción</label>
              <input type="text" id="descripcionModal" class="form-control" placeholder="Descripción">
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btnSaveModal">Guardar</button>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block js%}
<script>
  $(document).ready(function(){
    recargar()
  })
  $("#add-row").click(function(){
    var codigo = $("#codigo").val();
    var desc   = $("#descripcion").val();
    var html = `<tr><td></td><td>${codigo}</td><td>${desc}</td><td>
      <button class='btn btn-danger btn-sm btn-delete' 
      >D</button>
      <button class='btn btn-success btn-sm' 
      >E</button>
      </td></tr>`
    // console.log(html)
    if(codigo==""){
      // alert("Código Requerido")
      mensaje("Código Requerido","Atención!","warning")
      $("#codigo").focus()
      return
    }
    if(desc==""){
      // alert("Descripción Requerida")
      mensaje("Descripción Requerida","Atención!","warning")
      $("#descripcion").focus()
      return
    }
    $("table tbody").append(html)
    limpiar()
  })

  $("#btnSave").click(function(){
    $("table tbody>tr").each(function (){
      var self = $(this)
      var codigo = self.find("td:eq(1)").text().trim()
      var desc = self.find("td:eq(2)").text().trim()
      var result = codigo + " " + desc
      // console.log(self)
      
      // var data = {"codigo":codigo,"desc":desc,"csrfmiddlewaretoken" : "{{csrf_token}}"}
      var data = {"codigo":codigo,"desc":desc}
      console.log(data)

      $.ajax({
        headers: {'X-CSRFToken': "{{csrf_token}}"},
        url:"{% url 'app:update1'%}",
        data:data,
        type:"POST",
        success: function(r){
          mensaje("Guardado Satisfatoriamente")
        },
        error: function(jqXHR,textStatus,error){
          console.log(error)
        },
        complete: function(xhr,status){
          console.log("FINALIZADO")
          recargar()
        }
      })
    })
  })

  function recargar(){
    $.ajax({
        headers: {'X-CSRFToken': "{{csrf_token}}"},
        url:"{% url 'app:reload'%}",
        type:"GEST",
        success: function(r){
          console.log(r)
          datos = r.datos;
          console.log(datos)

          $("table > tbody").empty()
          var tabla = $("table")

          var rows = $.map(datos,function(value,index){
            return `<tr>
            <td>${value.id}</td><td>${value.codigo}</td>
            <td>${value.descripcion}</td>
            <td><button class='btn btn-danger btn-sm btn-delete'
              onClick="borrar(${value.id})"
              >D</button>
              <button class='btn btn-success btn-sm' 
              onClick="paraEditar(${value.id},'${value.codigo}','${value.descripcion}')"
              >E</button>
              <button class='btn btn-success btn-sm' 
              onClick="paraEditarModal(${value.id},'${value.codigo}','${value.descripcion}')"
              >E2</button>
              </td>
            </tr>`
          })
          $("table > tbody").html(rows.join(''))
        },
        error: function(jqXHR,textStatus,error){
          console.log(error)
        },
        complete: function(xhr,status){
          console.log("FINALIZADO")
        }
      })
  }

  $("#btnReload").click(function(e){
    recargar()
  })

  function borrar(id){

    Swal.fire({
      title: `¿Borrar ${id}?`,
      icon: 'question',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, Borrar',
      cancelButtonText: "No. No Borrar"
    }).then((result) => {
      if (result.isConfirmed) {
        var url = `delete/${id}`

        $.ajax ({
            url : url,
            headers: {'X-CSRFToken': "{{csrf_token}}"},
            type: "POST",
            success: function(r){
              // alert("Borrado")
              mensaje("Borrado Satisfactoriamente","¡Atención!")
            },
            error: function(jqXHR,textStatus,error)
            {
              console.log(error)
            },
            complete: function(xhr,status){
              console.log("Finalizada")
              recargar()
            }
          })    
      }else{
        mensaje("No se borró nada")
      }
    })
    
  }

  function limpiar(){
    $("#codigo").val("")
    $("#descripcion").val("")
    $("#id").val("")
    $("#codigo").focus()
  }

  function paraEditar(id,cod,desc)
  {
    limpiar()
    $("#id").val(id)
    $("#codigo").val(cod)
    $("#descripcion").val(desc)
  }

  $("#btnEdit").click(function(e){
    var cod = $("#codigo").val()
    var des = $("#descripcion").val()
    var id  = $("#id").val()

    var url = `edit/${id}`
    var data = {"codigo":cod,"descripcion":des}

    $.ajax ({
        url : url,
        headers: {'X-CSRFToken': "{{csrf_token}}"},
        type: "POST",
        data: data,
        success: function(r){
          // alert("Editado")
          mensaje("Guardado Satisfatoriamente")
        },
        error: function(jqXHR,textStatus,error)
        {
          console.log(error)
        },
        complete: function(xhr,status){
          console.log("Finalizada")
          limpiar()
          recargar()
        }
      })

  })
  $("#btnCancel").click(function(e){
    limpiar();
  })

  $("#btnSaveAll").click(function(){
    var datos = []

    $("table tbody>tr").each(function (){
      var self = $(this)
      var id = self.find("td:eq(0)").text().trim()
      var codigo = self.find("td:eq(1)").text().trim()
      var desc = self.find("td:eq(2)").text().trim()
      var result = codigo + " " + desc
      // console.log(self)
      
      // var data = {"codigo":codigo,"desc":desc,"csrfmiddlewaretoken" : "{{csrf_token}}"}
      var data = JSON.stringify({"codigo":codigo,"desc":desc, "id": id})
      datos.push(data)
    })
    console.log(datos)

    $.ajax({
      headers: {'X-CSRFToken': "{{csrf_token}}"},
      url:"{% url 'app:update2'%}",
      data: {'datos[]':datos},
      type:"POST",
      success: function(r){
        mensaje("Guardado Satisfatoriamente")
      },
      error: function(jqXHR,textStatus,error){
        console.log(error)
      },
      complete: function(xhr,status){
        console.log("FINALIZADO")
        recargar()
      }
    })

  })

  function abrirModal(){
    $("#modal_edit_new").modal('show')
  }
  function cerrarModal(){
    $("#modal_edit_new").modal('hide')
  }

  $("#btnNewModal").click(function(e){
    $("#idModal").val("")
    $("#codigoModal").val("")
    $("#descripcionModal").val("")
    $("#codigoModal").focus()

    abrirModal()
  })

  function saveModal(codigo,desc){
    var data = {"codigo":codigo,"desc":desc}

    $.ajax({
      headers: {'X-CSRFToken': "{{csrf_token}}"},
      url:"{% url 'app:update1'%}",
      data:data,
      type:"POST",
      success: function(r){
        mensaje("Guardado Satisfatoriamente")
      },
      error: function(jqXHR,textStatus,error){
        console.log(error)
      },
      complete: function(xhr,status){
        console.log("FINALIZADO")
        recargar()
        cerrarModal()
      }
    })
  }
  $("#btnSaveModal").click(function(e){
    var c = $("#codigoModal").val()
    var d = $("#descripcionModal").val()

    saveModal(c,d)
  })
  function paraEditarModal(id,cod,desc){
    $("#idModal").val(id)
    $("#codigoModal").val(cod)
    $("#descripcionModal").val(desc)

    abrirModal();
  }
  
</script>
{% endblock%}