{% extends 'bases/index.html' %}

{% block content %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Código</th>
        <th scope="col">Descripción</th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>
{% endblock%}

{% block js%}
<script>
  var $tbl
  $(document).ready( function () {
    $tbl = $('table').DataTable({
      ajax: {
        url:"{% url 'app:reload'%}",
        dataSrc: 'datos'
      },
      columns: [
        {data: "id"},
        {data: "codigo"},
        {data: "descripcion"},
      ]
    });
} );
</script>
{% endblock %}